body {
  background-color: rgb(184, 132, 46);
}

#borders-1 {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: green red;
  border-width: 20px 40px 80px 160px;
  margin: 5% 10% 10% 5%;
}

#borders-2 {
  border-style: solid;
  border-color: green red;
  border-width: 20px 40px 80px 160px;
  margin-top: 20%;
  margin-left: 5%;
}

#borders-3 {
  border-style: solid;
  border-color: transparent transparent green transparent;
  border-width: 20px 40px 80px 160px;
  margin-top: 20%;
  margin-left: 5%;
}
